.coursezone-container {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-card {
  padding: 1rem;
  align-items: center;
  text-align: center;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
  background-color: whitesmoke;
  border-radius: 12px;
  max-width: 300px;
  box-shadow: 0px, 4px, 8px rgba(0, 0, 0, 2);
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}
.course-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.course-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.course-title {
  color: black;
}
